node_modules/
dist/
/firebase/functions/lib/
.env*.local
.gcloud/
.secrets/
*.log
firebase-debug.log*
firestore-debug.log*
database-debug.log*
ui-debug.log*
pubsub-debug.log*
.firebase/
emulator-data/
e2e/artifacts/
test-results/
playwright-report/
.DS_Store
docs/mockups/
dist-emu/

# Instance config, written by scripts/install.sh (see the *.example files)
/scripts/project.env
/web/.env.production
/firebase/functions/.env
/firebase/functions/.env.*
!/firebase/functions/.env.demo-flack
!/firebase/functions/.env.example
/firebase/storage-cors.json
/PLAN.md
